*{

	margin: 0px;
	padding: 0px;
}

html, body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;



}
.background{
	width: 100%;
	height: 100%;
	background-image: url(SUN.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

.nav{
	width: 350PX;
	height: auto;
	/*background-color:gray;*/
	position: absolute;
	top: 120px;
	left: 0;


	
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	font-family: verdana;
	height: 90px;
	margin: 5px 0;
	float: left;
	line-height: 90px;
	display: inline-block;
	background-color: black;
	text-align: center;
	color: white;
	transition: 300ms;
}


a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}

.a{
	width: 95%
}
.b{
	width: 80%
}
.c{
	width: 80%;
}
.d{
	width: 90%;
}



.content{

	position: absolute;
	width: 930px;
	min-height: 500px;
	height: auto;
	/*background-color: red;*/
	top: 10%;
	right: 0;

}

.HOME{
position: absolute;
right: 0;
bottom: -50px;
color: white;
font font-family: verdana;
text-transform: uppercase;


}


.HOME h3{
	font-size: 45px;
	padding-right: 50px;
	border-bottom: 1px solid white;
	text-transform: uppercase;


}

.HOME h5{
	padding: 5px 0;
	font-size: 28px;
	opacity: 0.6;


}
/*
.aboutus{
	display: none;
	position: absolute;
right: 0;
bottom: -50px;
color: white;
font font-family: verdana;
top: 80px;


}*/
/*
.gallery{
	position: absolute;
right: 0;
top: 10px;
padding: 0 60px;
color: white;
display: none;




}
.gallery.image{
	width: 30%;
	margin: 2%;
	float: left;
}
.image img{
	width: 100%;
	transition: all ease 0.5%;
	transform: scale(1);
	-webkit-transition: all ease 0.5%;
	-webkit-transform: scale(1);


}*/
/*
.image img:hover{
transform: scale(1);
-webkit-transform: scale(1);


}
*/
/*}
.contactus{
position: absolute;
right: 0;
top: 10px;
padding: 0 60px;
color: white;
display: none;*/


	body {
  background:#1d1d1d;
  overflow: hidden;
    text-align:center;


}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container{
  position:absolute;

  width:80%;
  height:80%;

 
}
text{
  text-anchor:middle;
  font-family:"brandon-grotesque", Helvetica Neue, Arial,sans-serif;
  font-weight:700;
  font-size:42px;
  letter-spacing:-1px;
}
svg{
 

  width:80%;
  height:80%;
  visibility:hidden;
  overflow:visible; 
  opacity:1;


}

.maskText3{
  opacity:0
}

